node_modules/
package-lock.json
accounts.json
servers.json
server_icons/
profile_images/
public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
public/uploads/banners/*
!public/uploads/banners/.gitkeep
desktop-app/node_modules/
desktop-app/dist/
desktop-app/build/